<app-navbar></app-navbar>

<div class="center-container">
    <mat-card class="verification-card">
      <mat-card-title>¡Gracias por iniciar sesión!</mat-card-title>
      <mat-card-content>
        <p>Hemos enviado un correo de verificación a tu cuenta. Confírmalo para pasar a la siguiente ventana.</p>
        <div class="example-button-row">
          <button mat-raised-button color="accent" (click)="sendVerificationCode()">Enviar Código</button>
        </div>
      </mat-card-content>
    </mat-card>
</div>
