<app-navbar></app-navbar>


<div class="public-container">
    <div class="card-container">
        <mat-card class="public-card card-admin" (click)="redirectToPage('admin')">
        </mat-card>
        <div class="admin-text">
            <p>Administrador</p>
        </div>
    </div>
    <div class="card-container">
        <mat-card class="public-card card-vark" (click)="redirectToPage('vark')">
        </mat-card>
        <div class="admin-text">
            <p>Test VARK</p>
        </div>
    </div>
  
    <div class="card-container">
        <mat-card class="public-card card-jung" (click)="redirectToPage('jung')">
        </mat-card>
        <div class="admin-text">
            <p>Test Jung Mayer</p>
        </div>
    </div>
  </div>
  
