<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        
       <a href="https://www.youtube.com/watch?v=embwT6UgMoI">
        <mat-icon>smart_display</mat-icon>
       </a>

      <a class="navbar-brand" href="#">InsightIQ</a>
      
      
      <button (click)="enviarDuda()" mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>help</mat-icon>
    </button>
    
</div>

</nav>

<div class="public-container">
    <div class="card-container">
        <mat-card class="public-card card-admin" (click)="redirectToPage('admin')">
        </mat-card>
        <div class="admin-text">
            <p>Administrador</p>
        </div>
    </div>
    <div class="card-container">
        <mat-card class="public-card card-vark" (click)="redirectToPage('vark')">
        </mat-card>
        <div class="admin-text">
            <p>Test VARK</p>
        </div>
    </div>
  
    <div class="card-container">
        <mat-card class="public-card card-jung" (click)="redirectToPage('jung')">
        </mat-card>
        <div class="admin-text">
            <p>Test Jung y Mayer</p>
        </div>
    </div>

    <div class="card-container">
        <mat-card class="public-card card-resultJ" (click)="redirectToPage('resultJ')">
        </mat-card>
        <div class="admin-text">
            <p>Resultados Jung</p>
        </div>
    </div>

    <div class="card-container">
        <mat-card class="public-card card-resultV" (click)="redirectToPage('resultV')">
        </mat-card>
        <div class="admin-text">
            <p>Resultados Vark</p>
        </div>
    </div>
  </div>
  
